body {
	margin: 0;
	padding: 0;
	background-color: #282c34;
	color: #fff;
}

.Header {
	width: 100%;
	padding: 5px 20px;
	box-sizing: border-box;
	display: flex;
	background-color: #333538;
	position: fixed;
	top: 0;
}

.Header-logo {
	width: 80px;
	height: 80px;
}

.Header-title {
	align-self: center;
}

.Landing {
	color: #fff;
	margin-top: 100px;
	text-align: center;
	padding: 80px;
}

.Landing h1 {
	font-size: 48px;
}

.Landing p {
	font-size: 30px;
}

.btn-docs {
	padding: 7px 10px;
	background-color: #fff;
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 18px;
	color: #282c34;
}
